<% provide(:title, 'DM一覧') %>
<div class="row">
  <aside class="col-md-4">
    <section>
      <h1>Direct Messages</h1>
    </section>
    <section class="stats">
      <%= render 'shared/stats' %>
    </section>
  </aside>

  <div class="col-md-8">
    <h2>DM一覧</h2>

    <!-- ユーザー追加エリア -->
    <%= render 'add_member_form' %>
    <div class="user-controls">
      <div class="current-user">
        <p><%= current_user.name %></p>
      </div>
      <div id="members" class="added-users">
      </div>
    </div>

    <!-- DM作成ボタン -->
    <%= form_with url: channels_path, method: :post, data: { turbo: "false" } do |f| %>
      <%= render 'shared/error_messages', object: @channel if @channel %>
      <div id="members-params" class="d-none members">
      </div>
      <div class="create-dm">
        <%= f.submit '新しいDMを作成する', class: "create-dm-button" %>
      </div>
    <% end %>

    <!-- チャンネル一覧 -->
    <div class="channel-list">
      <% @channels.each do |channel| %>
        <%= link_to channel_path(channel), class: 'channel-card' do %>
          <div class="channel-content">
            <div class="channel-message">
              <%= channel.latest_message&.content&.truncate(50) || '新しくダイレクトメッセージを始める' %>
            </div>
            <div class="channel-timestamp">
              <%= l(channel.last_message_at, format: :short) %>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
