<% provide(:title, 'DM一覧') %>
<div class="row">
  <aside class="col-md-4">
    <section>
      <h1>Direct Messages</h1>
    </section>
    <section class="stats">
      <%= render 'shared/stats' %>
    </section>
  </aside>

  <div class="col-md-8">
    <h2>DM一覧</h2>

    <!-- ユーザー追加エリア -->
    <%= form_with url: add_user_path, method: :get, remote: true do |f| %>
      <div class="search-add-user">
        <%= f.text_field :email, placeholder: "メールアドレスで検索", id: "add-user-form", class: "user-search-input" %>
        <%= f.submit '追加', class: "add-user-button" %>
      </div>
    <% end %>
    <%= form_with url: add_user_path, method: :get do %>
      <div class="user-controls">
        <div class="current-user">
          <p><%= current_user.name %></p>
        </div>
        <div class="added-users">
          <!-- ここに追加されたユーザー名が表示される想定 -->
        </div>
      </div>
    <% end %>

    <!-- DM作成ボタン -->
    <%= form_with url: channels_path, method: :post, local: true do |f| %>
      <div class="d-none members">
      </div>
      <div class="create-dm">
        <%= f.submit '新しいDMを作成する', class: "create-dm-button" %>
      </div>
    <% end %>

    <!-- チャンネル一覧 -->
    <div class="channel-list">
      <% @channels.each do |channel| %>
        <%= link_to channel_path(channel), class: 'channel-card' do %>
          <div class="channel-content">
            <div class="channel-message">
              <%= channel.latest_message&.content&.truncate(50) || '新しくダイレクトメッセージを始める' %>
            </div>
            <div class="channel-timestamp">
              <%= l(channel.last_message_at, format: :short) %>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
