<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>

    <%= javascript_importmap_tags %>
    <%= yield :head %>
    <% if current_user && controller_name != 'channels' %>
      <script type="module">
        import "channels/notification_channel";
      </script>
    <% end %>
  </head>
  <body>
    <template id="notification-template">
      <div class="notification">
        <a class="notification-link">
          <div class="notification-content">
            <span class="notification-sender"></span>
            <span class="notification-message"></span>
          </div>
        </a>
        <button class="notification-close">✖</button>
      </div>
    </template>
    <div id="notification-container" class="notification-container"></div>


    <%= render 'layouts/header' %>
    <div class="container">
      <% flash.each do |message_type, message| %>
        <div class="alert alert-<%= message_type %>"><%= message %></div>
      <% end %>
      <%= yield %>
      <%= render 'layouts/footer' %>
      <%= debug(params) if Rails.env.development? %>
    </div>
  </body>
</html>
